:root {
  --vt-c-white: #ffffff;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: normal;
}

#inspire {
  transition: background 0.5s ease-in-out;
}

.container {
  width: 100%;
  height: 100%;
  padding: 40px;
}

.card-box {
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  position: relative;
}

.card-box:hover {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  transform: translateY(-2px);
  background: transparent;
}

.card-box-header {
  width: 100%;
}

h1 {
  font-size: 2em;
}

h3 {
  font-size: 1.3em;
  color: #9f9f9f;
  text-transform: uppercase;
}

.card-box-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-banner-card {
  width: 880px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.left-col {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.right-col {
  direction: rtl;
}

.col-right,
.title {
  font-weight: 700;
  font-size: 2.2em;
}

.col-right,
p {
  font-weight: 500;
  color: #7a7a7a;
  line-height: normal;
}
